<div class="login-box">
  <h2>Đăng nhập</h2>
  <form action="#" method="get">
    <div>
      <div class="login">
        <label class="form-label" for="userName">Tài khoản </label>
        <input class="input-group-text" id="userName" type="text"
               required value="Username"
               placeholder="Tài khoản">
      </div>
      <br>
      <div class="login">
        <label class="form-label" for="userName">Mật khẩu</label>
        <input class="input-group-text" type="password" required
               placeholder="Mật khẩu">
      </div>
      <p><a href="#">Quên mật khẩu???</a></p>

      <p><input class="btn-primary" type="submit" value="Đăng nhập"></p>

    </div>
  </form>
  <a href="#" class="social-button" id="facebook-connect"> <span>Đăng nhập bằng Facebook</span></a>
  <a href="#" class="social-button" id="google-connect"> <span>Đăng nhập bằng  Google</span></a>
</div>
