<!-- Header Start -->
<div class="container-xxl py-5">
  <div class="container header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row" style="display: flex">
      <div class="col-md-6 p-5 mt-lg-5 animated wow fadeIn" data-wow-delay="0.1s">
        <h1 class="display-5 animated mb-4 wow fadeIn">Final Exam <span class="text-success">Module 6 </span></h1>
        <p class="animated fadeIn mb-4 pb-2">Trần Văn Hải - C0322G1</p>
      </div>

      <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
        <div id="carouselExampleInterval" class="carousel slide animated fadeIn" data-bs-ride="carousel" data-wow-delay="0.1s">
          <div class="carousel-inner header-carousel">
            <div class="carousel-item active" data-bs-interval="10000">
              <img class="img-fluid" src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/277530099_1325341864634912_1084168997056957509_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=syNUZKOklxoAX_4XK_V&tn=CTGrYLRI9RnXGuas&_nc_ht=scontent.fsgn2-5.fna&oh=00_AT8szCDyKQH5hfoXbqe8VokPhp67hW5JKyQhe3ogQK0dkA&oe=63319CD9" alt="" height="500px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid" src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/277435854_1325341914634907_7892600879083970235_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=sPHdQAuy99oAX-xp4de&tn=CTGrYLRI9RnXGuas&_nc_ht=scontent.fsgn2-5.fna&oh=00_AT95tBgjyMSh5K8HCvICeViTBmSzg2zbzn9I2Xzg3DHn8A&oe=63304C6C" alt="" height="500px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid" src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/277534091_1325341797968252_8548782934522489028_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=SA6pLGAZuAYAX-7qa-u&_nc_ht=scontent.fsgn2-4.fna&oh=00_AT_jiKlCnz6ZHhRsIFeZWerS5GAI-QZQgara9JSwOdFkzQ&oe=6331D381" alt="" height="500px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/277462697_1325341761301589_3679849625988486770_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=WK8qgAb20j0AX-R0Eyl&_nc_ht=scontent.fsgn2-7.fna&oh=00_AT_2zdVrfv7uWeAmH-uZdhSltBhrZem-M3UOIIEaNxUPOg&oe=6331E7BA" alt="" height="500px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid" src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/277565480_1325341717968260_7409951386997156789_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=ibF8KgrFa1EAX-Tivpq&_nc_ht=scontent.fsgn2-4.fna&oh=00_AT_rGmuo6PAMQex9e2sbALPKtNAIMM86HavqZLiDcYbcvg&oe=63304A23" alt="" height="500px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid" src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/277550447_1325341901301575_4623717247757507098_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=4IGT3iZheyoAX_SDVIY&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT-6BgYk1XdPTjT2ZWQ2E9sz9IAy0-q1Im7OB_ldUKr06g&oe=6331267B" alt="" height="500px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/277107517_1325341697968262_391982987204201936_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=ap_OXCv0VG0AX_iji2a&_nc_ht=scontent.fsgn2-7.fna&oh=00_AT9lF9Gc7cjquQnXkcIMUg-dtE3P3jcxeZrMvj04qLmkqg&oe=6330ACC7" alt="" height="500px">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->
