<div class="container product_section_container">
  <div class="row">
    <div class="col product_section clearfix">

      <!-- Breadcrumbs -->

      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a routerLink="/">Trang chủ</a></li>
          <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Truyện tranh</a></li>
        </ul>
      </div>

      <!-- Sidebar -->

      <div class="sidebar">
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Danh sách</h5>
          </div>
          <ul class="sidebar_categories">
            <li><a href="#">Khoa học tự nhiên</a></li>
            <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Khoa học xã hội</a></li>
            <li><a href="#">Khoa học viễn tưởng</a></li>
            <li><a href="#">Khám phá</a></li>
            <li><a href="#">Truyện tranh</a></li>
            <li><a href="#">Văn phòng phẩm</a></li>
          </ul>
        </div>

        <!-- Price Range Filtering -->
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Khoảng giá</h5>
          </div>
          <p>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          </p>
          <div id="slider-range"></div>
          <div class="filter_button"><span>Lọc</span></div>
        </div>
      </div>

      <!-- Main Content -->

      <div class="main_content">

        <!-- Products -->

        <div class="products_iso">
          <div class="row">
            <div class="col">

              <!-- Product Sorting -->

              <div class="product_sorting_container product_sorting_container_top">
                <ul class="product_sorting">
                  <li>
                    <span class="type_sorting_text">Sắp xếp</span>
                    <i class="fa fa-angle-down"></i>
                    <ul class="sorting_type">
                      <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Sắp xếp</span></li>
                      <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá tăng dần</span></li>
                      <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên tăng dần</span></li>
                    </ul>
                  </li>
                  <li>
                    <span>Hiển thị</span>
                    <span class="num_sorting_text">6</span>
                    <i class="fa fa-angle-down"></i>
                    <ul class="sorting_num">
                      <li class="num_sorting_btn"><span>6</span></li>
                      <li class="num_sorting_btn"><span>12</span></li>
                      <li class="num_sorting_btn"><span>24</span></li>
                    </ul>
                  </li>
                </ul>
                <div class="pages d-flex flex-row align-items-center">
                  <div class="page_current">
                    <span>1</span>
                    <ul class="page_selection">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                    </ul>
                  </div>
                  <div class="page_total"><span>trên</span> 3</div>
                  <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                </div>

              </div>

              <!-- Product Grid -->

              <div class="product-grid">

                <!-- Product 1 -->

                <div class="product-item men">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img src="assets/image/五等分の花嫁∬」ポストカードブック ([バラエティ]) MM GO TOUBUN NO HANAYOME POSUTOKADOBUKKU.jpg" alt="">
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-20.000</span></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 1</a></h6>
                      <div class="product_price">150.000<span>170.000</span></div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 2 -->

                <div class="product-item women">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/Luật Tâm Thức - Giải Mã Ma Trận Vũ Trụ.jpg" alt="">
                    </div>
                    <div class="favorite"></div>
                    <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Mới</span></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số  2</a></h6>
                      <div class="product_price">200.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 3 -->

                <div class="product-item women">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/Mindmap English Grammar - Ngữ Pháp Tiếng Anh Bằng Sơ Đồ Tư Duy.jpg" alt="">
                    </div>
                    <div class="favorite"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 3</a></h6>
                      <div class="product_price">195.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 4 -->

                <div class="product-item accessories">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/The Secret - Hero - Người Hùng.jpg" alt="">
                    </div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 4</a></h6>
                      <div class="product_price">215.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 5 -->

                <div class="product-item women men">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/The%20Secret%20-%20Bí%20Mật%20(Tái%20Bản%202021).jpg" alt="">
                    </div>
                    <div class="favorite"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 6</a></h6>
                      <div class="product_price">250.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 6 -->

                <div class="product-item accessories">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img src="assets/image/Xin lỗi em chỉ là con dĩ.jpg" alt="">
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-30.000</span></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 7</a></h6>
                      <div class="product_price">270.000<span>300.000</span></div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 7 -->

                <div class="product-item women">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/gởi%20người%20bí%20ẩn%20thân%20thương.jpg" alt="">
                    </div>
                    <div class="favorite"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 8</a></h6>
                      <div class="product_price">220.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 8 -->

                <div class="product-item accessories">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/The Secret - Hero - Người Hùng.jpg" alt="">
                    </div>
                    <div class="favorite"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 9</a></h6>
                      <div class="product_price">65.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 9 -->

                <div class="product-item men">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/The Secret - Hero - Người Hùng.jpg" alt="">
                    </div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 10</a></h6>
                      <div class="product_price">32.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 10 -->

                <div class="product-item men">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/The Secret - Hero - Người Hùng.jpg" alt="">
                    </div>
                    <div class="favorite"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 11</a></h6>
                      <div class="product_price">120.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 11 -->

                <div class="product-item women men">
                  <div class="product product_filter">
                    <div class="product_image">
                      <img src="assets/image/The Secret - Hero - Người Hùng.jpg" alt="">
                    </div>
                    <div class="favorite"></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 12</a></h6>
                      <div class="product_price">130.000</div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>

                <!-- Product 12 -->

                <div class="product-item accessories">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img src="assets/image/The Secret - Hero - Người Hùng.jpg" alt="">
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-25.000</span></div>
                    <div class="product_info">
                      <h6 class="product_name"><a routerLink="/detail">Truyện số 13</a></h6>
                      <div class="product_price">125.000<span>150.000</span></div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

